body{
   /* Set line spacing */
   line-height: 1.6;
}


header, nav{
    /* Set padding and margin */
    padding: 5px 20px;
    margin: 5px 20px;
}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    padding: 20px;
    margin: 60px;
    font-size: 20px;
    background-color: #faebd7;

}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color:#000000;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 15px;
    text-transform:uppercase;
}


h1{
   /*Set font and font size*/
    font-size: 50px;
    font-family: "Merriweather", "Anton", "Times New Roman", Arial;
}

h2{
    /*Set font, font size, and alignment*/
    font-size: 35px;
    font-family: "Anton","Times New Roman",Arial;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 25px;

}

h1, h2, h3{
    /*Set margin */
    margin-top: 10px;

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    width:90%;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap:10px;
    justify-content: space-between;
    background-color: rgb(34, 95, 149);
    border-style:solid;
    border-radius: 20px;
    margin:auto;
    
    
    

}

.grid div{
    /* Set border properties, padding, and background color */
    
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding:20px;
    


}

.grid img{
    /* Set width, margin, and display */
    width:90%;
    margin: auto;
    display: block;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 8px 0px 5px rgb(150, 146, 146);
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -8px 0px 5px rgb(150, 146, 146);
    
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: -8px 0px 5px rgb(150, 146, 146), 8px 0px 5px rgb(150, 146, 146);
}
    

p + p {
     /* Set indentation */
     text-indent: 20px;
  }
  
p{
     /* Set margin */
     margin-top: 10px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    line-height: 1;
    margin: 0px 0px 10px 50px;
    list-style-image: url(../images/sketchbook.png);
}
